//========================================================================
// _base.scss
//========================================================================

//------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------
@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700");

//------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------
$color-black:         #000;
$color-white:         #fff;
$color-ocean-blue:    #0970ff;
$color-crescent-red:  #ff0000;
$font-face-primary:   "Helvetica Neue", sans-serif;
$font-face-secondary: "Georgia", serif;
$font-size-base:      10px;
$transition-speed:    0.4s ease-in-out;

//------------------------------------------------------------------------
// Compass
//------------------------------------------------------------------------
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";


