//========================================================================
// application.scss
//========================================================================

@import "base";
@import "media";
@import "ie";

//------------------------------------------------------------------------
// General
//------------------------------------------------------------------------
html, body {
  height: 100%;
}
body {
  background: darken($color-white, 1%);
  font-family: $font-face-primary;
  font-size: $font-size-base;
  color: $color-black;
}

//------------------------------------------------------------------------
// Canvas and descendents
//------------------------------------------------------------------------
.canvas {
  @include opacity(0.3);
  @include transition($transition-speed);
  @include box-sizing(border-box);
  background: darken($color-white, 1%);
  line-height: 1;
  font-family: $font-face-primary;
  font-size: 2em;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 50px 100px;
  cursor: text;

  &.focus {
    @include opacity(1);

    .cursor {
      -webkit-animation: phase 1s linear infinite;
    }
  }
  .character {
    @include inline-block;
    position: relative;
    z-index: 1;
    margin: 3px 0;
  }
  .cursor {
    @include inline-block;
    background: $color-ocean-blue;
    width: 5px;
    position: relative;
    z-index: 0;
    margin-right: -5px; // mirror width

    &.error {
      background: $color-crescent-red;
      -webkit-animation: shake 0.2s linear;
    }
  }
}


