//------------------------------------------------------------------------
// Main
//------------------------------------------------------------------------

// General
//------------------------------------------------------------------------
html, body {
  height: 100%;
}
body {
  background: darken($color-white, 1%);
  font-size: $font-size-base;
  font-family: $font-face-primary;
  color: $color-black;
}
.transition {
  @include transition($transition-speed);
}

// iOS keyboard
//------------------------------------------------------------------------
.ios-keyboard {
  @include opacity(0);
  position: fixed;
  z-index: -1;
  left: -50%;
  top: 0;
  display: block;
  width: 200%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Canvas options
//------------------------------------------------------------------------
.canvas-options {
  position: relative;
  z-index: 10;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border-top: 1px solid darken($color-white, 15%);
}
.focus-toggle {
  @include transition($transition-speed);
  @include border-radius(1px);
  @include box-shadow(0 0 2px lighten($color-black, 25%));
  background: $color-white;
  color: transparent;
  position: absolute;
  left: 20px;
  bottom: 13px;
  display: block;
  width: 50px;
  border: none;
  border-left: 0 solid transparent;
  border-right: 25px solid darken($color-white, 20%);

  &.on {
    border-right: 0 solid transparent;
    border-left: 25px solid $color-ocean-blue;
  }
}

// Canvas and descendents
//------------------------------------------------------------------------
.canvas {
  @include opacity(0.3);
  @include box-sizing(border-box);
  background: darken($color-white, 1%);
  white-space: nowrap;
  line-height: 1.3;
  font-size: 0;
  font-family: $font-face-primary;
  cursor: text;
  width: 100%;
  max-width: 750px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 50px;
  overflow-x: scroll;
  cursor: text;

  &.focus {
    @include opacity(1);

    .caret {
      -webkit-animation: phase 1s linear infinite;
    }
  }
  &.focus-mode {
    color: darken($color-white, 25%);

    .current {
      color: $color-black;
    }
  }
  .newline {
    font-size: 20px;
  }
  .character {
    @include transition($transition-speed);
    @include inline-block;
    vertical-align: top;
    font-size: 20px;
    position: relative;
    z-index: 1;
    -webkit-animation: type 0.2s linear;
  }
  .caret {
    @include inline-block;
    background: $color-ocean-blue;
    vertical-align: top;
    width: 5px;
    position: relative;
    z-index: 0;
    margin-right: -5px;   // mirror width

    &.error {
      background: $color-crescent-red;
      -webkit-animation: shake 0.2s linear;
    }
  }
}
